* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: '微软雅黑';
}

i, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button, select, textarea, input {
  border: none;
  background: none;
  outline: none;
}

.cle {
  clear: both;
}

.textover {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/* 金融 */
.banner {
  position: relative;
}

.banner .pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 266px;
  padding-left: 148px;
  box-sizing: border-box;
}

.pop h4, .pop h5 {
  font-size: 68px;
  color: #FFFFFF;
  font-family: Gilroy-Bold, Gilroy-Bold;
}

.pop h5 {
  margin-top: 16px;
}

.banner > img {
  width: 100%;
}

.introduce_finance {
  margin-top: 196px;
  padding-left: 92px;
  padding-right: 216px;
  box-sizing: border-box;
  overflow: hidden;
}

.introduce_finance > img {
  float: left;
  width: 48.13%;
}

.introduce_finance .text_finance {
  float: right;
  width: 43.43%;
}

.introduce_finance .text_finance h3 {
  font-size: 68px;
  color: #000000;
  margin-top: 98px;
  position: relative;
}

.introduce_finance .text_finance h3::after {
  content: '';
  display: block;
  position: absolute;
  width: 267px;
  height: 18px;
  background: #F0B000;
  border-radius: 0px 0px 0px 0px;
  opacity: 0.4;
  bottom: 0;
  left: 0;
}

.introduce_finance .text_finance .fin_bold {
  line-height: 40px;
  font-size: 24px;
  color: #000;
  text-align: justify;
  margin-top: 53px;
}

.introduce_finance .text_finance .fin_normal {
  line-height: 40px;
  font-size: 24px;
  text-align: justify;
  margin-top: 14px;
  color: #999999;
}

.intro_last {
  margin-top: 196px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 34px;
}

.fin_button {
  width: 269px;
  height: 79px;
  background: #03004D;
  border-radius: 10px 10px 10px 10px;
  margin-top: 70px;
  color: #fff;
  font-size: 20px;
}

/* 集装箱平台 */
.con_banner {
  position: relative;
}

.con_banner > img {
  width: 100%;
}

.con_banner .box {
  position: absolute;
  width: 838px;
  height: 222px;
  background: #000000;
  border-radius: 8px 8px 8px 8px;
  opacity: 0.54;
  top: 334px;
  left: 141px;
  padding: 38px;
  box-sizing: border-box;
}

.box h3 {
  font-family: BebasNeue-Regular, BebasNeue-Regular;
  font-weight: normal;
  font-size: 60px;
  color: #fff;
}

.box p {
  font-family: DMSans-Regular, DMSans-Regular;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 20px;
}

.con_intro {
  margin-top: 213px;
}

.con_intro > h3 {
  font-family: Roboto-Light, Roboto-Light;
  font-weight: normal;
  font-size: 48px;
  color: #0F358E;
  line-height: 62px;
  text-align: center;
}

.con_intro > p {
  margin: 33px auto 0;
  font-family: Roboto-Regular, Roboto-Regular;
  font-weight: normal;
  font-size: 20px;
  color: #595F6F;
  line-height: 28px;
  text-align: center;
  width: 719px;
}

.button_con {
  margin: 76px auto 0;
  width: 263px;
  height: 65px;
  background: #3544F8;
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  line-height: 65px;
  position: relative;
  font-family: Roboto-Medium, Roboto-Medium;
}

.button_con img {
  width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 27px;
}

.func_list {
  padding: 65px 10.1% 194px;
  display: flex;
  justify-content: space-between;
}

.func_list li {
  width: 30.48%;
  height: 285px;
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #DDDFE7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.func_list li img {
  width: 64px;
}

.func_list li div {
  margin-left: 52px;
}

.func_list li div h5 {
  font-weight: bold;
  font-size: 22px;
  color: #1A47B0;
}

.func_list li div p {
  width: 233px;
  font-family: Roboto-Regular, Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  color: #595F6F;
  line-height: 18px;
  margin-top: 44px;
}

.con_light {
  padding: 151px 0 0;
  margin-bottom: -42px;
  background: #F7F8FB;
  overflow: hidden;
}

.con_light > img {
  float: left;
  width: 61.97%;
}

.computer {
  float: right;
  width: 26.04%;
  margin-right: 11.25%;
}

.computer img {
  width: 50px;
  margin-top: 53px;
  display: block;
}

.computer h4 {
  width: 360px;
  height: 96px;
  font-family: Roboto-Light, Roboto-Light;
  font-weight: normal;
  font-size: 36px;
  color: #1A47B0;
  line-height: 44px;
  margin-top: 56px;
}

.computer p {
  font-family: Roboto-Regular, Roboto-Regular;
  font-weight: normal;
  font-size: 20px;
  color: #595F6F;
  line-height: 30px;
  margin-top: 30px;
}

.computer button {
  width: 166px;
  height: 50px;
  background: #3544F8;
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 53px;
}

/* 外运调度 */
.banner_out {
  position: relative;
}
.login_box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner_out > img {
  width: 100%;
  display: block;
}

.banner_out .out_box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.out_box h3 {
  font-family: Hiragino Sans GB, Hiragino Sans GB;
  font-size: 60px;
  color: #FFFFFF;
  line-height: 65px;
  text-stroke: 1px rgba(0, 0, 0, 0);
}

.out_box h4 {
  font-family: Hiragino Sans GB, Hiragino Sans GB;
  font-size: 40px;
  color: #f2f2f2;
  margin-top: 36px;
  text-stroke: 1px rgba(0, 0, 0, 0);
}

.out_inner {
  width: 1364px;
  margin: 87px auto 182px;
}

.out_inner > h3 {
  text-align: center;
  font-family: Roboto-Light, Roboto-Light;
  font-weight: normal;
  font-size: 48px;
  color: #0F358E;
  line-height: 62px;
}

.out_inner > p {
  font-size: 20px;
  color: #595F6F;
  line-height: 28px;
  margin-top: 18px;
  text-align: center;
}

.out_mod {
  margin-top: 92px;
}

.left_out {
  width: 898px;
  float: left;
  padding: 19px 17px 28px;
  box-sizing: border-box;
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;
}

.right_out {
  width: 430px;
  float: right;
}

.left_out .picture {
  width: 100%;
}

.left_out h4 {
  font-size: 38px;
  color: #1A47B0;
  line-height: 46px;
  margin-top: 32px;
}

.left_out p {
  font-size: 14px;
  color: #595F6F;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 46px;
  height: 46px;
}

.operate {
  display: flex;
  align-items: center;
}

.operate .out_item {
  display: flex;
  align-items: center;
}

.operate .out_item img {
  width: 19px;
}

.operate .out_item span {
  font-size: 14px;
  color: #595F6F;
  line-height: 17px;
  margin-left: 12px;
  display: block;
  width: 70px;
  font-family: Roboto-Bold, Roboto-Bold;
}

.operate i {
  margin-left: 70px;
  font-size: 14px;
  color: #595F6F;
  line-height: 17px;
}

.right_out {
  /* width: 100%; */
}

.out_list .out_tritem {
  margin-bottom: 49px;
  padding: 19px 35px 25px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;
}

.out_tritem p {
  font-family: Roboto-Regular, Roboto-Regular;
  font-weight: normal;
  font-size: 14px;
  color: #595F6F;
  line-height: 24px;
  height: 94px;
  margin-bottom: 22px;
  margin-top: 20px;
}

.out_tritem h3 {
  font-weight: 500;
  font-size: 24px;
  color: #1A47B0;
  line-height: 22px;
  font-family: Roboto, Roboto;
}

/* 公铁联运 */
.train_inner {
  width: 1282px;
  margin: 124px auto 0;
  padding-bottom: 136px;
}

.train_inner h3 {
  font-family: SulphurPoint-Bold, SulphurPoint-Bold;
  font-weight: normal;
  font-size: 61px;
  color: #333333;
  line-height: 70px;
}

.watch_train {
  overflow: hidden;
  margin-top: 11px;
}

.watch_train p {
  font-family: PublicSans-Regular, PublicSans-Regular;
  font-weight: normal;
  font-size: 20px;
  color: #333333;
  line-height: 32px;
  width: 473px;
  float: left;
}

.watch_train button {
  float: right;
  width: 186px;
  height: 53px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #3544F8;
  font-family: PublicSans-Bold, PublicSans-Bold;
  font-weight: normal;
  font-size: 16px;
  color: #3544F8;
}

.train_list {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}

.train_list .train_item {
  width: 405px;
  height: 439px;
  position: relative;
}

.train_item img {
  width: 100%;
  height: 100%;
  display: block;
}

.box_train {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 341px 34px 0;
  box-sizing: border-box;
}

.box_train h5 {
  font-family: SulphurPoint-Bold, SulphurPoint-Bold;
  font-weight: normal;
  font-size: 25px;
  color: #FFFFFF;
}

.box_train h6 {
  font-family: PublicSans-Regular, PublicSans-Regular;
  font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 10px;
}

/* 帮助中心 */
.bread {
  margin-top: 12px;
}

.inner_cont {
  margin-top: 22px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.bread span, .bread i {
  color: #B7B7B7;
  font-size: 20px;
}

.help {
  margin: 32px auto 134px;
  width: 1360px;
}

.leftnav {
  width: 307px;
  float: left;
}

.content_help {
  width: 1016px;
  float: right;
}

.leftnav h3 {
  width: 307px;
  height: 54px;
  background: #3544F8;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  line-height: 57px;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
}

.leftnav_list {
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.1);
}

.leftnav_list .leftnav_item {
  /* min-height: 42px; */
  cursor: pointer;
}

.leftnav_list .leftnav_item.on div::before {
  content: '';
  display: block;
  width: 4px;
  height: 29px;
  background: #3544F8;
  position: absolute;
  left: -14px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.leftnav_list .leftnav_item.on img {
  transform: rotate(90deg);
}

.leftnav_item.on .child_leftnav_list {
  height: auto;
  overflow: auto;
  padding: 30px 32px;
  /* box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1); */
}

.leftnav_list .leftnav_item:last-child {
  border: none;
}

.leftnav_item div {
  border-bottom: 1px solid #F4F4F4;
  box-sizing: border-box;
  width: calc(100% - 28px);
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.leftnav_item div span {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-left: 8px;
}

.leftnav_item div img {
  width: 10px;
  margin-right: 5px;
}

.leftnav_item .child_leftnav_list {
  height: 0;
  overflow: hidden;
}

.child_leftnav_list .child_leftnav_item {
  margin-bottom: 25px;
  font-size: 20px;
  color: #2C2D33;
}

.child_leftnav_item:last-child {
  margin-bottom: 0;
}

.child_leftnav_item:hover {
  color: #3544F8;
}

/* 挂牌交易 */
.banner_transform img {
  display: block;
}

.contact_sale {
  width: 1334px;
  margin: 55px auto 0;
}

.leftsale, .rightsale {
  width: 650px;
  float: left;
}

.rightsale {
  float: right;
}

.sale_title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  display: flex;
  align-items: center;
}

.sale_title img {
  width: 24px;
  margin-right: 9px;
}

.sale_list {
  padding-top: 1px;
  margin-top: 15px;
  overflow: hidden;
  padding: 0px 18px 32px 14px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.1);
}

.sale_list .sale_item {
  margin-top: 30px;
}

.sale_list .sale_item a {
  display: flex;
  align-items: center;
}

.sale_list .sale_item a img {
  width: 16px;
}

.sale_list .sale_item a p {
  width: 449px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-left: 13px;
}

.sale_list .sale_item a span {
  font-size: 14px;
  color: #B5B5B5;
  margin-left: 53px;
}

.check_all {
  width: 1334px;
  margin: 39px auto 0;
}

.check_all > h3 {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-left: 33px;
}

.shape {
  margin-top: 20px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
}

.shape_item {
  border-bottom: 1px solid #EAEAEA;
}

.shape_item h4 {
  text-align: center;
  padding: 40px 0;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 116px;
  background: #F8F8F8;
  float: left;
  cursor: pointer;
}

.shape_item .child_shape_list {
  float: left;
  width: 1055px;
  padding: 40px 64px 40px 24px;
  box-sizing: border-box;
  position: relative;
}

.show_data {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 64px;
  height: 26px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #111111;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.more_last {
  padding: 27px 0 16px;
}

.show_data img {
  width: 10px;
}

.showmore {
  width: 131px;
  height: 26px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #111111;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.showmore img {
  margin-left: 8px;
}

.nopos {
  position: static;
}

.child_shape_list .child_shape_item {
  float: left;
  margin-right: 60px;
  cursor: pointer;
}

.child_shape_item:hover {
  color: #3544F8;
}

.child_shape_item:last-child {
  margin-right: 0;
}

.oth_oper_price {
  float: left;
  margin-left: 60px;
  display: flex;
  align-items: center;
  padding: 33px 0;
  box-sizing: border-box;
}

.oth_oper_price span {
  margin: 0 9px;
}

.oth_oper_price .price {
  width: 112px;
  height: 32px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #C6C6C6;
  position: relative;
}

.price input {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-top: 1px;
  box-sizing: border-box;
}

.price i {
  font-size: 16px;
  color: #B1B1B1;
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 32px;
}

.oth_oper_price .price_input {
  width: 264px;
  height: 32px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #C6C6C6;
  padding-left: 24px;
  box-sizing: border-box;
}

.price_input + button {
  width: 87px;
  height: 32px;
  background: #3544F8;
  border-radius: 4px 4px 4px 4px;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 12px;
  line-height: 34px;
}

.check_record {
  width: 1334px;
  margin: 17px auto 0;
  padding-top: 1px;
}

.check_record .tab {
  overflow: hidden;
}

.check_record .tab li {
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  float: left;
  padding: 0 22px;
  height: 53px;
  line-height: 55px;
  /* background: #F6F6F6; */
  border-radius: 25px 25px 0px 0px;
}

.check_record .tab li.on, .check_record .tab li:hover {
  background: #F6F6F6;
  color: #3544F8;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 2px 10px 1px rgba(86, 173, 240, 0.1);
  margin-bottom: 31px;
}

.table tbody tr {
  border-bottom: 1px solid #F4F5F5;
}

.table tbody tr:last-child {
  border: none;
}

.table tbody tr td {
  padding: 25px 0;
  text-align: center;
}

.table tbody tr td:last-child {
  color: #3544F8;
  cursor: pointer;
}

.table tbody tr:first-child td {
  padding-top: 34px;
}

.table th {
  height: 59px;
  background: #F6F6F6;
}

.pation {
  margin-bottom: 34px;
  display: flex;
  justify-content: flex-end;
}

.pation div {
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #E9ECEF;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #8898AA;
  margin-right: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.pation div:last-child {
  margin-right: 0;
}

.pation div.on, .pation div:hover {
  background: #C7C7C7;
  color: #000000;
}

/* 竞价 */
.check_record > .title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: #466AFF;
  margin-bottom: 13px;
  margin-top: 17px;
}

.check_record > .title img {
  width: 22px;
  display: block;
  margin-right: 2px;
  margin-top: 2px;
}

.table.blue {
  position: relative;
}

.table.blue tr th {
  background: #E8EDFF;
  color: #3B4859;
}

td .a_red, td .a_blue {
  font-size: 16px;
  color: #FF1F1F;
  text-decoration: underline;
}

td .a_blue {
  color: #3544F8;
  margin-left: 30px;
}

.table.blue tr th:last-child {
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
}

.table.blue tr th:last-child::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 302px;
  height: 100%;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.16);
}

.pation.blue div.on, .pation.blue div:hover {
  color: #ffffff;
  background: #3544F8;
}

.func_check {
  padding: 28px 82px 12px 50px;
  box-sizing: border-box;
  margin-top: 21px;
  height: 359px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 0px 0px;
}

.func_check_list {
  padding-top: 1px;
}

.func_check_list li {
  height: 32px;
  float: left;
  /* width: 25%; */
  float: left;
  margin-bottom: 20px;
}

.func_check_list li > span {
  font-size: 16px;
  color: #000000;
  display: inline-block;
  text-align: right;
  margin-right: 16px;
}

.func_check_list li > span {
  width: 64px;
  margin-left: 72px;
}

.func_check_list li.first > span {
  width: 64px;
  margin-left: 0;
}

.func_check_list li.second > span {
  width: 96px;
  margin-left: 48px;
}

.func_check_list li.third > span {
  width: 64px;
  margin-left: 48px;
}

.func_check_list li select {
  appearance: none;
  background: url(../images/bottom.png) 128px center no-repeat;
  background-size: 20px auto;
}

.func_check_list li select,
.func_check_list li > input {
  width: 164px;
  height: 32px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #C6C6C6;
  font-size: 16px;
  color: #000000;
  box-sizing: border-box;
}

.j_input {
  display: inline-block;
}

.j_input input {
  width: 69px;
  height: 32px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #C6C6C6;
  box-sizing: border-box;
}

.j_input > span {
  font-size: 16px;
  color: #000000;
  margin: 0 5px;
}

.func_check_operate {
  margin-top: 20px;
  text-align: center;
}

.search, .clean {
  width: 114px;
  height: 38px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
}

.search {
  background: #3544F8;
  color: #fff;
}

.clean {
  background: #FFFFFF;
  border: 1px solid #707070;
  box-sizing: border-box;
  color: #707070;
  margin-left: 12px;
}

/* 网络货运 */
.tr_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 211px 180px 0;
  box-sizing: border-box;
}

.tr_box em {
  font-family: SulphurPoint-Bold, SulphurPoint-Bold;
  font-size: 17px;
  color: #FFFFFF;
}

.tr_box h3 {
  margin-top: 49px;
}

.tr_box h3, .tr_box h4 {
  font-size: 53px;
  color: #FFFFFF;
}

.keything {
  margin-top: 62px;
}

.keything i, .keything span {
  font-size: 20px;
  color: #FFFFFF;
}

.toadvice {
  border-radius: 2px;
  background: #fff;
  width: 172px;
  height: 36px;
  font-size: 14px;
  color: #3544F8;
  margin-top: 70px;
}

.keything span {
  margin: 0 5px;
}

.trans_address {
  margin: 182px auto 0;
  width: 1385px;
  overflow: hidden;
  padding-bottom: 219px;
  background: url(../images/word.png) center center no-repeat;
  background-size: 124% auto;
}

.trans_address .map {
  float: left;
  width: 831px;
}

.trans_address .describe {
  float: right;
}

.describe {
  width: 419px;
}

.describe h3 {
  font-size: 56px;
  color: #333333;
  margin-top: 43px;
}

.describe p {
  font-size: 20px;
  color: #333333;
  line-height: 32px;
  margin-top: 21px;
}

.selectedlist {
  margin-top: 22px;
}

.selectedlist li {
  margin-bottom: 16px;
  line-height: 32px;
}

.selectedlist li img {
  width: 32px;
  vertical-align: top;
}

.selectedlist li span {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.5);
  margin-left: 20px;
}

.towatch1 {
  width: 333px;
  height: 63px;
  background: linear-gradient(191deg, #FA2B56 0%, #F91C3D 100%);
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 24px;
}

.map_intro {
  background: url(../images/bluebackground.png) no-repeat;
  margin-top: 0;
  padding-top: 1px;
}

.map_intro > h3 {
  font-size: 48px;
  color: #FFFFFF;
  margin-top: 182px;
}

.map_intro > p {
  color: #fff;
}

.map_intro > .button_con {
  background: linear-gradient(194deg, #FA2B56 0%, #F91C3D 100%);
  box-shadow: 20px 20px 60px 1px rgba(0, 0, 0, 0.4);
}

.map_intro .func_list li {
  background: #052B7B;
  border: none;
}

.map_intro .func_list li h5 {
  color: #fff;
  font-weight: normal;
}

.map_intro .func_list li p {
  font-size: 16px;
  color: #709BE7;
  line-height: 20px;
  margin-top: 20px;
}

.map_intro .func_list li:hover {
  background: #fff;
  box-shadow: 20px 20px 40px 1px rgba(2, 8, 22, 0.5);
}

.map_intro .func_list li:hover h5 {
  color: #1A47B0;
}

.map_intro .func_list li:hover p {
  color: #595F6F;
}

.touch {
  width: 48px;
  position: absolute;
  bottom: 52px;
  left: 0;
  right: 0;
  margin: auto;
}

.touch h4 {
  font-size: 12px;
  color: #FFFFFF;
}

.touch .tz {
  margin-top: 17px;
}

.touch .tz img {
  display: block;
  margin: 0 auto 5px;
}

/* 底部 */
.footer {
  height: 99px;
  background: #464662;
  border-radius: 0px 0px 0px 0px;
  line-height: 99px;
  text-align: center;
}

.footer a {
  font-family: STSong, STSong;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
