* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: '微软雅黑', serif;
  background: #F9F9F9;
}

input, textarea, select, option, button{
  border: none;
  outline: none;
  background: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

[un-cloak] {
  display: none;
}

i, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.splittext{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cle{
  clear: both;
}